{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

        <div class="d-flex gap-3 align-items-center">
          <h1>One Question page</h1>
          <a href="{% url 'index'%}">New Questions</a>
            <a href="{% url 'index'%}">Hot Questions</a>
            <a href="{% url 'ask' %}">Ask Question</a>
        </div>

        <div class="col-8">

            {% include 'layouts/onequestion.html' with question=item %}
            <div class="d-flex flex-column gap-3 m-3">

               {% for answer in answers %}
                 {% include 'layouts/oneanswer.html'%}
                {% endfor %}
                

            </div>

            <div class="d-flex flex-column gap-2">
            
        
                <div class="d-flex flex-row gap-2 mb-2">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            
                <div class="col-2">
                    <button type="button" class="btn btn-outline-dark">Answer</button> 
                </div>
            
            

            </div>

        </div>

{% endblock %}
