{% extends 'layouts/baseunlog.html' %}
{% load static %}

{% block content %}

      <div class="d-flex gap-3 align-items-center">
        <h1>Registration</h1>

      </div>


      <div class="col-8">


          <div class="d-flex flex-column gap-3">

            <div class="d-flex flex-row gap-3 mb-2">
              <p>Sorry, this email allready registed!</p>
            </div>

            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                <label for="exampleInputLogin1" class="form-label">Login</label>

              </div>
              <div class="col-8">
                <input type="login" class="form-control" id="exampleInputLogin1">
              </div>
            </div>

            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                <label for="exampleInputEmail1" class="form-label">Email</label>

              </div>
              <div class="col-8">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            </div>

            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                <label for="exampleInputNickName1" class="form-label">NickName</label>

              </div>
              <div class="col-8">
                <input type="login" class="form-control" id="exampleInputNickName1">
              </div>
            </div>

            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                <label for="exampleInputPassword1" class="form-label">Password</label>
              </div>

              <div class="col-8">
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            </div>

            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                <label for="exampleInputPassword1" class="form-label">Repeat password</label>
              </div>

              <div class="col-8">
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            </div>
             
            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                <label for="exampleInputAvatar1" class="form-label">Upload avatar</label>
              </div>

              <div class="col-8">
                <div class="input-group">
                  <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">choose</button>
                </div>
    
              </div>
            </div>

            <div class="d-flex flex-row gap-5 mb-2">
              <div class="col-2">
                
              </div>

              <div class="col-8">
                <button type="submit" class="btn btn-primary">Register!</button>
              </div>
            </div>



              
          </div>


        </div>

{% endblock %}